:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 0.95em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 2px solid #646cff;
}

input {
  border-radius: 6px;
  border: 1px solid #555;
  padding: 0.5em 0.8em;
  font-size: 0.95em;
  font-family: inherit;
  background: #1a1a1a;
  color: inherit;
}

input:focus {
  outline: 2px solid #646cff;
  border-color: #646cff;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
  color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
  input {
    background: white;
    border-color: #ccc;
  }
}
